<template>
  <div id="app">
    <v-app>
      <v-content>
        <MemberList />
      </v-content>
    </v-app>
  </div>
</template>

<script>
import MemberList from "./components/MemberList";

export default {
  name: "App",
  components: {
    MemberList
  },
  data: () => ({
    //
  })
};
</script>
<style>
#app {
  background-color: #34495e;
  height: 1000px;
}
</style>
