<template>
  <div>
    <v-app-bar absolute light>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>Web社員名簿</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon></v-icon>
      </v-btn>
    </v-app-bar>

    Web社員名簿

    

    <v-navigation-drawer class="menu" v-model="drawer" absolute temporary>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title>search</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense>
        <v-list-item>
          <v-list-content>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field
                  v-model="lastName"
                  :rules="nameRules"
                  :counter="10"
                  label="Last name"
                  required
                ></v-text-field>
                {{ lastname }}
              </v-flex>
            </v-layout>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field
                  v-model="firstname"
                  :rules="nameRules"
                  :counter="10"
                  label="First name"
                  required
                ></v-text-field>
              </v-flex>
              <v-layout wrap>
                <v-flex xs12 d-flex>
                  <v-select :items="hqs" label="本部" solo></v-select>
                </v-flex>
              </v-layout>
            </v-layout>
            <v-layout wrap>
              <v-flex xs12 d-flex>
                <v-select :items="depts" label="部門" solo></v-select>
              </v-flex>
            </v-layout>
            <v-layout wrap>
              <v-flex xs12 d-flex>
                <v-select :items="departs" label="部課" solo></v-select>
              </v-flex>
            </v-layout>
            <v-layout wrap>
              <v-flex xs12 d-flex>
                <v-select :items="group" label="グループ・チーム" solo></v-select>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex>
                <div class="my-2">
                  <v-btn large color="primary" @click="onSearch()">Search</v-btn>
                </div>
              </v-flex>
            </v-layout>
          </v-list-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <!-- </v-sheet> -->
    <!-- <table>
    <tr v-for="member in members">
      <td>{{ member.姓 }}</td>
    </tr>
    </table>-->
    <!-- <v-container>
      <v-layout row>
        <v-card>
          <v-flex xs4 v-for="(member, index) in members" :key="index">
            <v-card class="mx-auto" max-width="344" outlined>
              <v-list-item three-line>
                <v-list-item-content>
                  <v-list-item-title class="headline mb-1">{{member.姓}} {{member.名}}</v-list-item-title>
                  <v-list-item-subtitle>
                    {{member.本部}}
                    <br />
                    {{member.部門}}
                  </v-list-item-subtitle>
                </v-list-item-content>

                <v-list-item-avatar tile size="80" color="grey">
              <v-img :src="member.社員番号" + ".jpg"></v-img>
                </v-list-item-avatar>
              </v-list-item>
            </v-card>
          </v-flex>
        </v-card>
      </v-layout>
    </v-container> -->
  </div>
</template>

<script>
import axios from "axios";

export default {
  data: () => ({
    members: [],
    drawer: null,
    items: [
      { title: "Home", icon: "dashboard" },
      { title: "About", icon: "question_answer" }
    ],
    firstname: "",
    lastname: "",
    // lastName: "",
    nameRules: [v => v.length <= 10 || "Name must be less than 10 characters"],
    // hqs: [],
    // depts: [],
    // departs: [],
    // group: [],
    // lists: [],
    // list: {},
    hqs: [
      "全社員",
      "役員一覧",
      "内部監査",
      "ソサエティデータサイエンス",
      "アグリビジネス推進室",
      "営業本部",
      "クラウドビジネス本部",
      "エンタープライズビジネス本部",
      "グループ業務本部",
      "無限",
      "ユニリタプラス",
      "BSPソリューションズ",
      "アスペックス",
      "ビーティス",
      "ユニトランド",
      "データ総研",
      "BSP上海"
    ],
    depts: [
      "営業部",
      "名古屋事業所",
      "営業支援グループ",
      "パートナービジネス部",
      "マーケティング部",
      "ビジネスフォース部",
      "サービスマネジメント部",
      "BPM部",
      "クラウドサービス推進室",
      "オープンインキュベーションセンター",
      "ビジネスオートメーション部",
      "データインテグレーション部",
      "エンタープライズレポーティング部",
      "PMO",
      "次世代基盤開発部",
      "カスタマーサポートグループ",
      "入出荷センター",
      "メインフレーム事業部",
      "アウトソーシング事業部",
      "コーポレート企画室",
      "品質保証室",
      "人事総務部",
      "経理部",
      "法務室",
      "広報IR室",
      "大阪本社",
      "福岡事業所",
      "DX推進室",
      "SMO推進部",
      "管理部",
      "カスタマーサービス",
      "技術部",
      "新規事業開発部",
      "サポート部",
      "技術コンサルタント部",
      "営業部",
      "BCP事業部",
      "経理・総務・広報",
      "営業部",
      "技術部",
      "支援部"
    ],
    departs: ["営業1課", "営業2課"],
    group: [
      "デジタルマーケティンググループ",
      "デジタルセールスグループ",
      "情報システムグループ",
      "自動化開発グループ",
      "ELT開発グループ",
      "帳票開発グループ",
      "BI開発グループ",
      "EXTES開発グループ",
      "2019新人"
    ]
  }),
  methods: {
    onSearch: function() {
      this.lastname = this.lastName;
      console.log(this.lastname);

    }
  },
  created: function() {
    axios.get("/users").then(res => {
      this.members = res.data;
      // for (let i = 0; i < this.members.length; i++) {
      //   const result = this.hqs.indexOf(this.members[i].本部);
      //   if (result == -1 && this.members[i].本部 != "") {
      //     this.hqs.push(this.members[i].本部);
      //     // const hq = this.members[i].本部;
      //   }
      // }
      // for (let i = 0; i < this.hqs.length; i++) {
      //   const depts = [];
      //   this.depts = [];
      //   console.log(this.hqs[i]);
      //   for (let t = 0; t < this.members.length; t++) {
      //     if (this.hqs[i] == this.members[t].本部) {
      //       depts.push(this.members[t].部門); //重複リスト
      //       console.log(depts);
      //       if (
      //         depts.indexOf(this.members[t].部門) == -1 &&
      //         this.members[t].部門 != ""
      //       ) {
      //         this.depts.push(this.members[t].部門);
      //       }
      //     }
      //   }
      //   this.list = {
      //     hq: this.hqs[i],
      //     dep: this.depts
      //   };
      //   this.lists.push(this.list);
      // }
      // console.log(this.lists);
      //↓すべての部門
      // for (let i = 0; i < this.hqs.length; i++) {
      //   for (let t = 0; t < this.members.length; t++) {
      //     const result = this.depts.indexOf(this.members[t].部門);
      //     if (this.hqs[i] == this.members[t].本部 && result == -1 && this.members[t].部門 != "") {
      //       this.depts.push(this.members[t].部門);
      //       const
      //     }
      //   }
      // }
    });
  }
};
</script>

<style>
.container {
  margin-top: 30px;
}
.menu {
  margin-top: 64px;
  width: 300px;
}
</style>